<?xml version="1.0"?>
<launch>

  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />

  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="true" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <!-- <arg name="world_name" value="$(find my_spideybot)/gazebo/my_world.world" /> -->
  </include>


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find my_spideybot)/urdf/my_spideybot.urdf" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/my_spideybot/joint_states" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_spideybot)/rviz/my_spideybot.rviz" required="true" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model my_spideybot -param robot_description" />

  <rosparam file="$(find my_spideybot)/config/controller.yaml" command="load" />

  <node name="contoller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/my_spideybot" 
        args="joint_state_controller	
                    joint1_position_controller
                    joint2_position_controller
                    joint3_position_controller
                    joint4_position_controller
                    joint5_position_controller
                    joint6_position_controller
                    joint7_position_controller
                    joint8_position_controller
                    joint9_position_controller
                    joint10_position_controller
                    joint11_position_controller
                    joint12_position_controller
                    joint13_position_controller
                    joint14_position_controller
                    joint15_position_controller
                    joint16_position_controller
                    joint17_position_controller
                    joint18_position_controller" />

  <!-- Add node for camera -->
  <node name="image_listener" pkg="my_spideybot" type="camera_capture.py" />

</launch>
